{% extends "iscte_forum/index.html" %}

{% block page-title %}Login{% endblock %}

{% block content %}
    <section class="outline">
        {% if error_message %}
            <br/>
            <p class="error-message"><strong>{{ error_message }}</strong></p>
        {% else %}
            <br/>
        {% endif %}
        <p><strong>Iniciar Sessão</strong></p>
        <form action="{% url 'iscte_forum:login_page' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="Username" />
            <br/>
            <input type="password" name="password" id="password" placeholder="Password" />
            <br/><br/>
            <input type="submit" value="Login" />
        </form>
        <br/>
        <p>Ainda não tem conta? <a href="{% url 'iscte_forum:register' %}">Clique aqui para se registar!</a></p>
        <br/>
    </section>
{% endblock %}