{% extends "iscte_forum/index.html" %}

{% block page-title %}Registar{% endblock %}

{% block content %}
    <section class="outline">
        {% if error_message %}
            <br/>
            <p class="error-message"><strong>{{ error_message }}</strong></p>
        {% else %}
            <br/>
        {% endif %}
        <form action="{% url 'iscte_forum:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><strong>Foto de Perfil:</strong></p>
            <input type="file" id="user-profile-pic" name="user-profile-pic" accept="image/*">
            <br/>
            <p><strong>Informação da Conta:</strong></p>
            <input type="text" name="user-username" id="user-username" placeholder="Username" required />
            <br/>
            <input type="email" name="user-email" id="user-email" placeholder="Email" required />
            <br/>
            <input type="password" name="user-password" id="user-password" placeholder="Password" required />
            <br/>
            <p><strong>Informação Adicional:</strong></p>
            <p>Curso:</p>
            <select id="user-course" name="user-course">
                <option value="none" selected disabled hidden>Seleciona o teu curso!</option>
                {% for c in all_courses %}
                    <option value="{{ c.name }}">{{ c.name }}</option>
                {% endfor %}
            </select>
            <p>Cadeiras Favoritas:</p>
            <input type="text" name="user-favourite-classes" id="user-favourite-classes" placeholder="Quais as cadeiras de que mais gostaste até agora?" />
            <p>Escreve um pouco sobre ti:</p>
            <textarea class="fancy-input text-area" name="user-about-me" id="user-about-me" rows="5" cols="100" placeholder="Fala-me sobre ti!"></textarea>
            <br/><br/>
            <input type="submit" value="Registar" />
        </form>
        <br/>
    </section>
{% endblock %}